body {
  background-color: #0a0b0d;
}

.nav-adjust {
  margin-top: 40px;
}
@media all and (min-width: 600px) {
  .nav-adjust {
    margin-top: 60px;
  }
}

.heading {
  color: #e2e8f0;
  text-transform: uppercase;
  font-size: var(--fsz-3);
}

.close-icon {
  position: absolute;
  top: 2%;
  right: 2%;
  border: 0;
  padding: var(--p-1);
  background-color: #000;
  border-radius: 50%;
}
.close-icon .icon {
  color: #a0aec0;
  font-size: var(--fsz-2);
}
@media all and (min-width: 600px) {
  .close-icon {
    top: 3%;
    padding: var(--p-2);
    right: 1%;
  }
}

.dropdown {
  position: absolute;
  right: 5%;
  top: 80%;
  z-index: var(--z-1);
  color: #cbd5e0;
  background-color: #2d3748;
  display: block;
  max-width: 250px;
  padding: var(--p-6) 0 var(--p-2);
  border-radius: var(--br-2);
}
.dropdown .close {
  background-color: transparent;
  border: 0;
  color: #a0aec0;
  font-size: var(--fsz-1);
}
.dropdown ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.dropdown li:not(:nth-last-of-type(1)) {
  margin: 0 0 var(--p-2);
  border-bottom: 1px solid #4a5568;
}
.dropdown li {
  padding: 0 0 var(--p-2) var(--p-4);
  display: flex;
  align-items: center;
}
.dropdown input[type=checkbox] {
  position: relative;
  vertical-align: sub;
  margin: 0 var(--p-2) 0 0;
  transition: all 0.5s ease-in-out;
}
.dropdown label,
.dropdown input[type=checkbox] {
  cursor: pointer;
}
.dropdown .input-addon {
  display: flex;
}
.dropdown .input-addon input[type=text] {
  width: 100%;
  color: #edf2f7;
  font-weight: 500;
  padding: var(--p-2);
  background-color: #1a202c;
  border: 0;
}
.dropdown .input-addon button {
  background-color: transparent;
  color: #a0aec0;
  border: 0;
}
.dropdown .input-addon button:hover, .dropdown .input-addon button:focus {
  color: #edf2f7;
}
.dropdown .input-addon .icon {
  font-size: var(--fsz-2);
}
@media all and (min-width: 600px) {
  .dropdown {
    right: 15%;
  }
}

.video-card {
  position: relative;
  display: flex;
  cursor: pointer;
  flex-direction: column;
  background-color: #1a202c;
  margin: 0 0 var(--p-4);
  border-radius: var(--br-3);
  transition: all 0.5s ease;
  padding: 0;
}
.video-card-thumbnail {
  height: 180px;
  border-radius: var(--br-3) var(--br-3) 0 0;
}
.video-card figcaption {
  padding: var(--p-4);
}
.video-card-title {
  color: #a0aec0;
  margin: var(--p-2) 0;
  font-size: 1rem;
}
.video-card-title, .video-card-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.video-card .channel-name, .video-card-stats, .video-card-description {
  font-size: 0.8rem;
  color: #718096;
}
.video-card-description {
  display: none;
}
.video-card .channel-name {
  font-weight: 550;
}
.video-card .channel-name .date {
  text-transform: capitalize;
}
.video-card .channel-name .date::before {
  content: "";
  height: 5px;
  width: 5px;
  display: inline-block;
  margin: 0 var(--p-1) 0.1rem;
  background-color: #a0aec0;
  border-radius: 50%;
}
.video-card-stats .icon {
  font-size: var(--fsz-1);
  margin: 0 var(--p-1) 0 0;
  vertical-align: middle;
}
.video-card:hover {
  background-color: #171923;
}
.video-card:hover .video-card-title {
  color: #e2e8f0;
}
.video-card:hover .channel-name,
.video-card:hover .video-card-stats,
.video-card:hover .video-card-description {
  color: #cbd5e0;
}
@media all and (min-width: 600px) {
  .video-card {
    flex-direction: row;
    padding: var(--p-6);
    border-radius: var(--br-0);
    margin: 0;
  }
  .video-card-thumbnail {
    border-radius: var(--br-3);
  }
  .video-card-description {
    font-size: 1rem;
    margin: 0 0 1rem;
    display: block;
  }
}

@media all and (min-width: 600px) {
  .video-card:nth-of-type(1) {
    border-radius: var(--br-3) var(--br-3) 0 0;
  }

  .video-card:nth-last-of-type(1) {
    border-radius: 0 0 var(--br-3) var(--br-3);
  }
}
header {
  position: fixed;
  z-index: var(--z-2);
  top: 0%;
  width: 100%;
  border-bottom: 1px solid #1a202c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: var(--p-2);
  background-color: #0a0b0d;
}
header .img-logo {
  height: 30px;
}
header ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}
header li {
  margin: 0;
}
header li a {
  display: flex;
  align-items: center;
  color: #f7fafc;
  text-transform: capitalize;
}
header li .icon {
  font-size: var(--fsz-2);
}
header li .text {
  font-weight: 550;
  display: none;
}
header .avatar-sm-i-basic {
  height: 40px;
  width: 40px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 var(--p-2) 0 0;
}
header .avatar-sm-i-basic:hover {
  background-color: #fff;
  color: var(--icon-base-200);
}
header .active .avatar-sm-i-basic {
  background-color: #fff;
  color: var(--icon-base-200);
}
@media all and (min-width: 600px) {
  header {
    padding: var(--p-2) var(--p-5);
  }
  header .img-logo {
    height: 50px;
  }
  header ul {
    margin: 0 var(--p-4) 0 0;
  }
  header li {
    margin: 0 var(--p-4) 0 0;
  }
  header li .text {
    display: block;
  }
}

.hero {
  z-index: var(--z-0);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(https://img-assets.netlify.app/video-thumbnails/farmers.jpg);
  background-position: center;
  color: #f7fafc;
  position: relative;
  padding: 60px 0 0;
  box-sizing: border-box;
}
.hero .overlay-2,
.hero .overlay {
  position: absolute;
}
.hero .overlay-2 {
  top: 5%;
  left: -8%;
  width: 60vw;
  height: 100%;
  -moz-filter: blur(3rem);
  -o-filter: blur(3rem);
  -webkit-filter: blur(3rem);
  filter: blur(3rem);
  background-color: #0a0b0d;
}
.hero .overlay {
  top: 0%;
  width: 100%;
  height: 100vh;
  z-index: var(--z-0);
  background-color: rgba(10, 11, 13, 0.6);
}
.hero .content {
  position: relative;
  z-index: var(--z-1);
  display: flex;
  text-align: left;
  align-content: center;
  justify-content: center;
  width: 80vw;
  height: 100vh;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0 0 0 2rem;
}
.hero .content h2,
.hero .content p {
  color: #f7fafc;
}
.hero .content h2 {
  font-size: var(--fsz-3);
}
.hero .content p {
  color: #718096;
  font-weight: 500;
  font-size: var(--fsz-1);
  line-height: 28px;
}
@media all and (min-width: 600px) {
  .hero {
    background-size: 100%;
  }
  .hero .content {
    width: 50vw;
    padding: 0 0 0 4rem;
  }
  .hero .content h2 {
    font-size: 5rem;
  }
}

.video-listing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: var(--p-2);
  width: auto;
}
.video-listing .heading {
  position: relative;
  z-index: var(--z-1);
  margin: 1rem 0;
}
@media all and (min-width: 600px) {
  .video-listing {
    width: 80vw;
    margin: var(--p-2) auto;
  }
}

.video-player {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
}
.video-player iframe {
  border: 0;
  width: 100vw;
  height: 50vh;
}
.video-player-description {
  color: #f7fafc;
}
.video-player-actions {
  position: relative;
  justify-content: space-evenly;
  display: flex;
  column-gap: var(--p-1);
  margin: var(--p-2) 0 0;
}
.video-player .icon-btn-base .icon {
  font-size: var(--fsz-2);
  margin: 0;
}
.video-player .icon-btn-base .text {
  font-size: 1rem;
  font-weight: 600;
  text-transform: capitalize;
  display: none;
}
.video-player .wrapper {
  margin: var(--p-4) var(--p-2) 0;
}
.video-player-title {
  font-size: var(--fsz-1);
  margin: 0 0 var(--p-3);
}
.video-player-desc {
  font-size: 0.9rem;
  color: #a0aec0;
}
.video-player-user {
  display: flex;
  align-items: center;
  margin: var(--p-4) var(--p-2) 0;
}
.video-player-user .u-info {
  flex-basis: 1;
  margin: 0 var(--p-4) 0 0;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 50px auto;
}
.video-player-user .u-info img {
  height: 50px;
  width: 50px;
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
  grid-row: 1/3;
  grid-column: 1/2;
}
.video-player-user .u-info .channel-name,
.video-player-user .u-info .sub-count {
  line-height: 1;
  margin: 0 0 0 var(--p-1);
}
.video-player-user .u-info .sub-count {
  font-size: 0.8rem;
  color: #718096;
}
.video-player-user .video-info {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}
.video-player-user .video-info .icon {
  font-size: var(--fsz-2);
  vertical-align: middle;
}
.video-player-user .video-info .text {
  text-transform: capitalize;
}
@media all and (min-width: 600px) {
  .video-player {
    width: 80vw;
  }
  .video-player iframe {
    width: 100%;
    height: 70vh;
  }
  .video-player-user {
    order: 1;
  }
  .video-player-actions {
    justify-content: start;
    column-gap: var(--p-4);
    margin: var(--p-4) 0 0;
    order: 2;
  }
  .video-player-description {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 0.6fr 1fr;
    align-items: center;
  }
  .video-player .wrapper {
    grid-column: 1/3;
    order: 3;
  }
  .video-player-title {
    font-size: var(--fsz-2);
  }
  .video-player-desc {
    font-size: var(--fsz-1);
  }
  .video-player .icon-btn-base .text {
    display: block;
  }
}

.playlist {
  position: relative;
  margin: 60px var(--p-4) var(--p-4);
}
.playlist h3 {
  text-transform: capitalize;
}
.playlist-layout {
  display: flex;
  flex-direction: column;
}
.playlist-card {
  cursor: pointer;
  margin: var(--p-2) 0;
  border-radius: var(--br-1);
  border: 1px solid #2d3748;
  background-color: #2d3748;
  width: 90vw;
  display: flex;
  flex-direction: column;
}
.playlist-card .icon-2x {
  align-self: center;
  margin: var(--p-6) 0;
  font-size: 4rem;
}
.playlist-card figcaption {
  padding: var(--p-4) var(--p-2);
  color: #a0aec0;
  background-color: #000;
  border-radius: 0 0 var(--br-1) var(--br-1);
  font-size: 0.9rem;
}
.playlist-card:hover {
  transition: all 0.3s ease;
  box-shadow: 0px 4px 16px 10px black;
}
.playlist-heading {
  display: flex;
  justify-content: space-between;
  margin: 0 0 var(--p-2);
  color: #e2e8f0;
  text-transform: capitalize;
  font-size: 1rem;
}
.playlist-heading .icon {
  color: #edf2f7;
  cursor: pointer;
}
@media all and (min-width: 600px) {
  .playlist {
    width: 80vw;
    margin: 80px auto var(--p-4);
  }
  .playlist h3 {
    margin: 0 0 var(--p-6);
  }
  .playlist-layout {
    flex-direction: row;
    column-gap: var(--p-7);
  }
  .playlist-card {
    width: 250px;
  }
}

.user-account {
  position: relative;
  margin: 60px var(--p-2) 0;
}
.user-account h3 {
  font-size: var(--fsz-2);
  color: #e2e8f0;
  text-transform: capitalize;
  margin: var(--p-2) 0 var(--p-4);
}
.user-account form {
  display: flex;
  flex-direction: column;
  row-gap: var(--p-4);
  -webkit-row-gap: var(--p-4);
  -moz-row-gap: var(--p-4);
}
.user-account .icon-btn-base {
  width: 30vw;
  font-size: 1rem;
}
.user-info {
  display: flex;
  align-items: flex-start;
  justify-content: start;
  column-gap: var(--p-2);
  -webkit-column-gap: var(--p-2);
  -moz-column-gap: var(--p-2);
}
.user-info .channel-icon {
  height: 80px;
  width: 80px;
  object-fit: cover;
  object-position: top center;
  border-radius: 50%;
}
.user-info .input-livefarm,
.user-info .input-livefarm-disabled {
  align-self: center;
}
@media all and (min-width: 600px) {
  .user-account {
    width: 80vw;
    margin: 60px auto 0;
  }
  .user-account .icon-btn-base {
    width: 10vw;
  }
  .user-account .input-livefarm {
    width: 40vw;
  }
  .user-info .channel-icon {
    height: 150px;
    width: 150px;
  }
  .user-info .input-livefarm,
.user-info .input-livefarm-disabled {
    align-self: flex-start;
    margin: 1rem 0 0;
    width: 28vw;
  }
}

/*# sourceMappingURL=style.css.map */
